code {
  background: #f4f4f4;
  border: 1px solid #ddd;
}

pre {
  border: 1px solid #ddd;
  border-left: 3px solid #3385ff;
  display: block;
  color: #666;
  margin-bottom: 16px;
  max-width: 100%;
  overflow: auto;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  padding: 1px 15px;
  word-wrap: break-word;
  > code {
    background: none;
    border: none;
  }
}