@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.box {
  padding-bottom: 10px;
  border-bottom: 3px solid #3385ff;
  margin-bottom: 50px;
  &:last-child {
    border-bottom: none;
  }
  header {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    color: #3385ff;
    &:before {
      content: "{ ";
      color: #b3b3b3;
    }
    &:after {
      content: " }";
      color: #b3b3b3;
    }
  }
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  a {
    display: inline-block;
    padding: 5px 10px;
    background: rgba(204, 204, 204, 0.4);
    border: 1px solid #f4f4f4;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 4px;
  }
}

.list {
  margin-bottom: 50px;
  &.last {
    margin-bottom: 0;
  }
  header {
    font-family: 'Acme', sans-serif;
    color:#3385ff;
    padding: 3px;
    &:before {
      content: "{ ";
      color: #b3b3b3;
    }
    &:after {
      content: " }";
      color: #b3b3b3;
    }
  }
  ul {
    list-style-type: square;
    margin-left: 30px;
  }
}
