@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background: rgb(254, 222, 3);
  font-family: 'Acme', sans-serif;
}

header {
  display: none;
}

nav {
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block
}

.title {
  text-align: center;
}

p {
  line-height: 2;
  font-size: 20px;
}

footer {
  grid-row-start: 2;
  grid-row-end: 3;
}