@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
body {
  background: rgb(254, 222, 3);
  font-family: 'Acme', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block
}

.title {
  text-align: center;
}

p {
  line-height: 2;
  font-size: 20px;
}

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;;
}
.wrapInside {
  flex-grow: 1;
}