---
title: mysite
layout: layout.html
---
 {% renderTemplate "webc" %}
 <intro></intro>
{% endrenderTemplate %}

 {% renderTemplate "webc" %}
 <glance></glance>
{% endrenderTemplate %}

 {% renderTemplate "webc" %}
 <interests></interests>
{% endrenderTemplate %}


<section class="posts">
    <header>Latest Posts2</header>
    {% for item in collections.posts | slice: 0, 3 %}
  <article>
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    <p>{{ item.data.title }}</p>
  </article>
{% endfor %}

{% for item in collections.posts | limit(3) %}
  <article>
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
  </article>
{% endfor %}

</section>