
<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://unpkg.com/normalize.css">
        <link rel="stylesheet" href="styles/fonts.css">
        <link rel="stylesheet" href="styles/overrides.css">
        <link rel="stylesheet" href="styles/code-styles.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <heaer>
            <h1>{{ title | default: "My Blog" }}</h1>
        </heaer>
    </body>
    <main>
{{ content }} blas
    </main>
</html>
